body{
    display: flex;
    position: relative;
    overflow-x:hidden;
}
#elev, #tableElevi, #nota, #tableNote {border:1px solid black;
width:-webkit-fill-available;
margin:1px;
}
#tableNote>thead,#tableNote>tbody{
    text-align:center;
} 
#tableElevi>thead>tr>th>input[type="button"]{
    background-color: #3c8005;
    color: white;
    border-radius: 5px;
    width:200px;
} 
#noteElev>input[type="button"],#tableNote>thead>tr>th>input[type="button"]{
    background-color: #0e5c73;
    color: white;
    border-radius: 5px;
    width:200px;
}
#listaElevi{
    background-color:#a8f22e;
    width:100%;
}
.listaEleviLeft{
    width: 100%;
    position: relative;
    display: grid;
}
#noteElev{
    background-color:#add8e5;
}
.hidden{
    visibility:hidden;
    width:0;
}
.noteElevLeft{
    width:100%;
    position: relative;
    display: grid;
}
thead {text-align:left;}